@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var action = ViewContext.RouteData.Values["action"].ToString();
    var isActiveController = new Func<string, string, string, string, string>((ctrl, act, activeStyle, inactiveStyle) => controller == ctrl && action == act ? activeStyle : inactiveStyle);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TG STORE</title>
    @Styles.Render("/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/Template/lib/slick/slick.css" rel="stylesheet">
    <link href="~/Content/Template/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="@Url.Content("~/Content/Template/css/style.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css")" rel="stylesheet">

</head>

<body>
    <!-- Nav Bar Start -->
    <div class="nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="@Url.Action("Index", "Home")" class="nav-item nav-link @isActiveController("Home","Index","active","")">Trang chủ</a>
                        <a href="@Url.Action("Index", "Product")" class="nav-item nav-link @isActiveController("Product","Index","active","")">Sản phẩm</a>
                        @*<a href="~/Content/Template/product-detail.html" class="nav-item nav-link">Product Detail</a>*@
                        <a href="@Url.Action("Index", "ShoppingCart")" class="nav-item nav-link @isActiveController("ShoppingCart","Index","active","")">Giỏ hàng</a>
                        <a href="@Url.Action("Index", "WishList")" class="nav-item nav-link @isActiveController("WishList","Index","active","")">Sản phẩm yêu thích</a>
                        @*<a href="~/Content/Template/my-account.html" class="nav-item nav-link">Tài khoản của bạn</a>*@
                        <!--<div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Xem thêm</a>
                <div class="dropdown-menu">
                    <a href="~/Content/Template/wishlist.html" class="dropdown-item">Wishlist</a>
                    <a href="~/Views/Account/Login.cshtml" class="dropdown-item">Đăng ký/Đăng nhập</a>-->
                        @*<a href="~/Content/Template/contact.html" class="dropdown-item">Contact Us</a>*@
                        <!--</div>
            </div>-->
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->
    
    @RenderBody()
    <hr />
    <!-- Footer Start -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>TG STORE</h2>
                        <div class="contact-info">
                            <p><i class="fa fa-map-marker"></i> Địa chỉ: Safira Khang Điền, 454 Võ Chí Công, P.Phú Hữu, Tp.Thủ Đức, Tp.HCM</p>
                            <p><i class="fa fa-envelope"></i>Email: TGStore.contact@gmail.com</p>
                            <p><i class="fa fa-phone"></i>Hỗ trợ khách hàng: +84-36-473-5020</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <h2>Follow Us</h2>
                        <div class="contact-info">
                            <div class="social">
                                <a href="http://www.facebook.com/Hi.iammGin"><i class="fab fa-twitter"></i></a>
                                <a href="http://www.facebook.com/Hi.iammGin"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://www.facebook.com/Hi.iammGin"><i class="fab fa-linkedin-in"></i></a>
                                <a href="http://www.facebook.com/Hi.iammGin"><i class="fab fa-instagram"></i></a>
                                <a href="http://www.facebook.com/Hi.iammGin"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Company Info</h2>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul>
                        </div>
                    </div>*@

                @*<div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Purchase Info</h2>
                            <ul>
                                <li><a href="#">Pyament Policy</a></li>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>*@
            </div>

            @*<div class="row payment align-items-center">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <h2>We Accept:</h2>
                            <img src="~/Content/Template/img/payment-method.png" alt="Payment Method" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <h2>Secured By:</h2>
                            <img src="~/Content/Template/img/godaddy.svg" alt="Payment Security" />
                            <img src="~/Content/Template/img/norton.svg" alt="Payment Security" />
                            <img src="~/Content/Template/img/ssl.svg" alt="Payment Security" />
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
    <!-- Footer End -->
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 copyright">
                    <p>Copyright &copy; TG Store. All Rights Reserved</p>
                </div>

                <div class="col-md-6 template-by">
                    <p>Best Choose for you at TG STORE </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Template/lib/easing/easing.min.js"></script>
    <script src="~/Content/Template/lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/Template/js/main.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
